@media (max-width: 767px) {
  .home-lg {
    display: none;
  }

  .background {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }

  .home-container {
    position: relative;
    padding-top: 12%;
  }

  .home-text {
    font-weight: 600;
    font-size: 25px;
    padding-left: 10px;
    text-align: left;
    padding-top:30px;
    color: white;
    letter-spacing: 1px;
    // border-bottom: solid 6px white;
    width: 78%;
    margin-left: 15px;
    margin-top: -20px;
    font-family: 'Mulish', sans-serif;
  }

  .content-homepage {
    padding-top: 22vh;
    text-align: center;
  }

  .content-homepage .btn-primary {
    font-size: 20px;
    border-radius: 30px;
    padding: 2vh 6vh;
    letter-spacing: 1px;
    background-color: rgba(0, 139, 210, 0.9);
 }
}

@media (min-width: 768px) {
  .home-container {
    display: none;
  }

  .image1 {
  width:50%;
  }
   .image2 {
  width:90%;
  }
}

// landing page

/*--------------------------------------------------------------
TABLE OF CONTENT
----------------------------------------------------------------
1.0 VARIABLE
|  1.1 COLOR
|  1.2 TYPOGRAPHY
|  1.3 LAYOUT
2.0 FOUNDATION
3.0 TYPOGRAPHY
4.0 IMAGE
5.0 LAYOUT
6.0 COMPONENT
|  6.1 CTA
|  6.2 BUTTON
|  6.3 LIST
7.0 SECTION
|  7.1 HEADER
|  7.2 HERO
|  7.3 CUSTOMER
|  7.4 FEATURE
|  7.5 TESTIMONIAL
|  7.6 CLOSE
|  7.7 FOOTER
8.0 MEDIA
|  8.1 768PX
|  8.2 1024PX
|  8.3 1200PX
--------------------------------------------------------------*/
