.ticket-response {
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ticket-response h4 {
  padding-top: 50px;
}

.text-ticket {
  position:absolute;
  z-index:2;
}

.section {
  border-radius: 30px;
  display: inline-block;
  padding: 5px 15px;
  margin-right: 0.9rem;
  margin-bottom: 0.9rem;
  height: 30px ;
  width: fit-content;
  font-size: 15px;
  font-weight: bold;
}

.form-ticket-text {
  font-size: 20px;
  font-weight: bold;
}

.title {
  font-size: 30px ;
}

.body {
  padding-top: 5%;
}

.timer {
  color: #008bd2;
  font-weight: bold;
  font-size: 140%;
  padding: 30px 0px;
}

.ticket-title {
  text-align: center;
  padding-top: 5px;
  padding-bottom:25px;
  color: #008bd2;
}

#review-btn {
  display: flex;
  justify-content: space-evenly;
}

#review-btn .btn-primary {
  min-width: 120px;
}

#logout {
  text-align: center;
  padding-top: 30px;
}

@keyframes bb {
  from {background-color: #008bd2;}
  to {background-color: white;}
}

.table {
  font-size: 12px;
}

.table th, .table td {
  vertical-align: middle;
}

.card-ticket {
  margin-top: 30px;
}

.reviews {
  vertical-align: middle;
  text-align: center;
  line-height: 35px;
}

.ticket {
  &.new {
    animation: bb 5s;
  }

  h1 {
    font-size: 45px !important;
  }
}

.content-t h1 {
  font-size: 150%;
}

.content-t h2 {
  font-size: 150%;
}

.content-t h3 {
  font-size: 90%;
}

.fa-star {
  color:  #FFD700;
  cursor: pointer;
  font-size: 19px;
}
.review i {
  font-size: 32px;
}

.p-t {
  padding-top: 60px;
}

@media (min-width: 768px) {
  .d-flex-lg {
    display: flex;
    justify-content: space-between;
  }

  .card-ticket {
    width: 48%
  }

  .reviews {
    width: 100%;
  }

  .table {
    font-size: 100% !important;
    text-align: center;
  }
}