<div class="home-container">
  <h2 class="home-text">
    <span style="font-size:50px">Hello</span> <br>in your store !
  </h2>
  <div class="content-homepage">
    <div>
      <%= link_to new_ticket_path, :class => 'btn btn-primary' do %>
      <i class="fas fa-concierge-bell"></i><span style="padding-left: 15px">Appeler un vendeur</span>
      <% end %>
    </div>
  </div>
</div>

<div class="home-lg">
  <header role="banner" class="ui-section-header">
      <div class="ui-layout-container">
        <div class="ui-section-header__layout ui-layout-flex">
          <!-- LOGO -->
          <div class="logo">
            <h2>GetAdvice</h2>
          </div>
          <!-- MENU -->
          <div class="menu">
            <a href="#" role="link" aria-label="#">Accueil</a>
            <a href="#features" role="link" aria-label="#">Fonctionnalités</a>
            <a href="#testimonials" role="link" aria-label="#">Témoignages</a>
            <a href="#contact" role="link" aria-label="#" class="ui-component-button ui-component-button-small ui-component-button-primary">Contactez-nous</a>
          </div>
        </div>
      </div>
    </header>
    <main role="main">
      <section class="ui-section-hero">
        <div class="ui-layout-container">
          <!-- COPYWRITING -->
          <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
            <div class="ui-text-intro">
              <h1>Focus expérience client</h1>
              <p>Avec GetAdvice, vos vendeurs se déplacent vers vos clients au bon moment pour un accompagnement qu'ils pourront évaluer ensuite! <br> Une webapp conforme RGPD c'est rapide à déployer, facilement maintenable et sans contrainte pour les utilisateurs !</p>
              <a href="#" class="btn-proposition">Demander une démo</a>
            </div>
            <div class="value-picture">
              <img src="https://res.cloudinary.com/dwv60m21t/image/upload/v1615800291/get_advice_banner_nh5txz.png" loading="lazy" alt="#" class="ui-image-half-left image1">
            </div>
          </div>
        </div>
      </section>
      <section id="features" class="ui-section-feature">
        <div class="ui-layout-container">
          <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
            <!-- IMAGE -->
            <img src="https://res.cloudinary.com/dcqboe4la/image/upload/v1615224761/Capture_d_e%CC%81cran_2021-03-08_a%CC%80_18.33.36_mnx6oa.png" loading="lazy" alt="#" class="ui-image-half-left image1">
            <!-- FEATURE -->
            <div>
              <h2>Côté client : appel vendeur</h2>
              <p class="ui-text-intro">Le client appelle un vendeur en sélectionnant le rayon dans lequel il se trouve. Il n'a pas besoin de télécharger une app ni de donner d'information personnelle</p>
              <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
                <li class="ui-component-list--item ui-component-list--item-check">Un click pour arriver à cette page</li>
                <li class="ui-component-list--item ui-component-list--item-check">Un click pour appeler un vendeur</li>
                <li class="ui-component-list--item ui-component-list--item-check">Nombre de rayons illimités</li>
                <li class="ui-component-list--item ui-component-list--item-check">Nom des rayons facilement customisables</li>
              </ul>
            </div>
          </div>
          <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
            <!-- FEATURE -->
            <div>
              <h2>Côté vendeur : notification et positionnement </h2>
              <p class="ui-text-intro"> Une notification est créée sur tout mobile et desktop pour chaque nouvel appel vendeur, elle se répète tant qu'un vendeur n'a pas pris en charge le ticket</p>
              <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
                <li class="ui-component-list--item ui-component-list--item-check">Notification pour tous les vendeurs</li>
                <li class="ui-component-list--item ui-component-list--item-check">Notification sur téléphone vérouillé</li>
                <li class="ui-component-list--item ui-component-list--item-check">Plusieurs possibilités de réponse : j'y vais tout de suite / j'y vais plus tard</li>
                <li class="ui-component-list--item ui-component-list--item-check">Horaire et lieu exact du besoin d'aide</li>
              </ul>
            </div>
            <!-- IMAGE -->
            <img src="https://res.cloudinary.com/dcqboe4la/image/upload/v1615217797/image-3_smp0ab.png" loading="lazy" alt="#" class="ui-image-half-right image2">
          </div>
          <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
          <!-- IMAGE -->
            <img src="https://res.cloudinary.com/dcqboe4la/image/upload/v1615217797/image_s3zueh.png" loading="lazy" alt="#" class="ui-image-half-left image1">

          <!-- FEATURE -->
            <div>
              <h2>Côté client : Attente qualitative</h2>
              <p class="ui-text-intro">Une animation permet au client de comprendre le status de son ticket. Un pop-up, en lien avec le nom du ticket rend l'attente instructive</p>
              <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
                <li class="ui-component-list--item ui-component-list--item-check">Contenu lui permettant de patienter</li>
                <li class="ui-component-list--item ui-component-list--item-check">Compte à rebours</li>
                <li class="ui-component-list--item ui-component-list--item-check">Possibilité d'annulation</li>
                <li class="ui-component-list--item ui-component-list--item-check">Possibilité d'appeler le call center</li>
              </ul>
            </div>
          </div>
          <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
            <!-- FEATURE -->
            <div>
              <h2>Côté vendeur : clôture de ticket et analytics</h2>
              <p class="ui-text-intro">Le vendeur peut clôturer le ticket en 1 click et avoir accès aux indicateurs de tous les tickets créés</p>
              <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
                <li class="ui-component-list--item ui-component-list--item-check">Nombre de tickets</li>
                <li class="ui-component-list--item ui-component-list--item-check">Durée moyenne du ticket</li>
                <li class="ui-component-list--item ui-component-list--item-check">Note moyenne des tickets</li>
                <li class="ui-component-list--item ui-component-list--item-check">Possibilité d'extraction de données pour des analyses : durée moyenne, note moyenne et nombre de tickets répondus</li>
              </ul>
            </div>
            <!-- IMAGE -->
            <img src="https://res.cloudinary.com/dcqboe4la/image/upload/v1615217797/image-3_smp0ab.png" loading="lazy" alt="#" class="ui-image-half-right image2">
          </div>
          <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
            <!-- IMAGE -->
            <img src="https://res.cloudinary.com/dcqboe4la/image/upload/v1615217797/image-1_f63qf1.png" loading="lazy" alt="#" class="ui-image-half-left image1">
            <!-- FEATURE -->
            <div>
              <h2>Côté client : receuil d'avis client</h2>
              <p class="ui-text-intro">Noter un service sans noter un vendeur</p>
              <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
                <li class="ui-component-list--item ui-component-list--item-check">Deux clicks pour donner une note sur 5</li>
                <li class="ui-component-list--item ui-component-list--item-check">Possibilité de ne pas noter</li>
                <li class="ui-component-list--item ui-component-list--item-check">Conforme RGPD</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="ui-section-testimonial" id="testimonials">
        <div class="ui-layout-container">
          <div class="ui-layout-column-6 ui-layout-column-center">
            <h2>Nos clients</h2>
            <p class="ui-text-intro">Leur témoignage</p>
          </div>
          <div class="ui-section-testimonial__layout ui-layout-grid ui-layout-grid-3">
            <div class="ui-layout-column-4">
              <img src="https://c.pxhere.com/photos/01/b8/photo-182659.jpg!d" alt="#" class="ui-section-testimonial--avatar">
              <p class="ui-section-testimonial--quote ui-text-intro">Quelle application incroyable !</p>
              <p class="ui-section-testimonial--author"><strong>Guillaume</strong><br><small class="ui-text-note">Décathlon</small></p>
            </div>
            <div class="ui-layout-column-4">
              <img src="https://c.pxhere.com/photos/01/b8/photo-182659.jpg!d" alt="#" class="ui-section-testimonial--avatar">
              <p class="ui-section-testimonial--quote ui-text-intro">Application superbement fonctionnelle et très utile pour toute entreprise qui a des grands locaux.</p>
              <p class="ui-section-testimonial--author"><strong>Jean-Christophe</strong><br><small class="ui-text-note">CEO of Company</small></p>
            </div>
            <div class="ui-layout-column-4">
              <img src="https://c.pxhere.com/photos/01/b8/photo-182659.jpg!d" alt="#" class="ui-section-testimonial--avatar">
              <p class="ui-section-testimonial--quote ui-text-intro">Une interface très simple, rapide et pensée utilisateur avant tout.</p>
              <p class="ui-section-testimonial--author"><strong>Jane Doe</strong><br><small class="ui-text-note">Castorama</small></p>
            </div>
          </div>
        </div>
      </section>
      <section id="contact" class="ui-section-close">
        <div class="ui-layout-container">
          <div class="ui-layout-column-6 ui-layout-column-center">
            <h2>Our application got your interest?</h2>
            <%# <p class="ui-text-intro">Lorem ipsum dolor sit amet consectetur.</p> %>
            <!-- CTA -->
            <div class="ui-component-cta ui-layout-flex">
              <a href="#" role="link" aria-label="#" class="ui-component-button ui-component-button-normal ui-component-button-primary">Contact us</a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%# <footer role="contentinfo" class="ui-section-footer">
      <div class="ui-layout-container">
        <div class="ui-section-footer__layout ui-layout-flex">
          <!-- COPYRIGHT -->
          <p class="ui-section-footer--copyright ui-text-note"><small>&copy; 0000 Uisual</small></p>
          <!-- MENU -->
          <nav role="navigation" class="ui-section-footer--nav ui-section-footer--menu ui-layout-flex">
            <a href="#" role="link" aria-label="#" class="ui-text-note"><small>Features</small></a>
            <a href="#" role="link" aria-label="#" class="ui-text-note"><small>Help</small></a>
            <a href="#" role="link" aria-label="#" class="ui-text-note"><small>Terms</small></a>
          </nav>
          <!-- SOCIAL -->
          <nav role="navigation" class="ui-section-footer--nav ui-section-footer--social ui-layout-flex">
            <a href="#" role="link" aria-label="#">
              <svg viewBox="0 0 24 24" height="16" width="16" fill="none" stroke="#AEAEAE" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" role="img" aria-label="#">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"/>
              </svg>
            </a>
            <a href="#" role="link" aria-label="#">
              <svg viewBox="0 0 24 24" height="16" width="16" fill="none" stroke="#AEAEAE" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" role="img" aria-label="#">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"/>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zM17.5 6.5h.01"/>
              </svg>
            </a>
            <a href="#" role="link" aria-label="#">
              <svg viewBox="0 0 24 24" height="16" width="16" fill="none" stroke="#AEAEAE" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" role="img" aria-label="#">
                <circle cx="12" cy="12" r="10"/>
                <path d="M8.56 2.75c4.37 6.03 6.02 9.42 8.03 17.72m2.54-15.38c-3.72 4.35-8.94 5.66-16.88 5.85m19.5 1.9c-3.5-.93-6.63-.82-8.94 0-2.58.92-5.01 2.86-7.44 6.32"/>
              </svg>
            </a>
          </nav>
        </div>
      </div>
    </footer> %>
</div>
