<div class="home-container">
  <h2 class="home-text">
    <span style="font-size:50px">Hello</span> <br>in your store !
  </h2>
  <div class="content-homepage">
    <div>
      <%= link_to new_ticket_path, :class => 'btn btn-primary' do %>
      <i class="fas fa-concierge-bell"></i><span style="padding-left: 15px">Appeler un vendeur</span>
      <% end %>
    </div>
  </div>
</div>

<div class="home-lg">
  <div class="container">
    <h2> 🚧  We will be back soon 🚧 </h2>
  </div>
</div>
