<div class="home-container">
  <h2 class="home-text">
    <span style="font-size:50px">Hello</span> <br>in your store !
  </h2>
  <div class="content-homepage">
    <div>
      <%= link_to new_ticket_path, :class => 'btn btn-primary' do %>
      <i class="fas fa-concierge-bell"></i><span style="padding-left: 15px">Appeler un vendeur</span>
      <% end %>
    </div>

    <div>
      <a href="https://fr.surveymonkey.com/r/QZFFVSW"><i id="survey-text" class="fas fa-praying-hands"> Donnez votre avis !</i></a>
    </div>
  </div>
</div>
