.btn {
  text-decoration: none;
}

.btn-primary {
   background-color: #008bd2;
   border:none;
   transition: transform 0s; /* Animation */
   border-radius: 30px;
  }

.submit {
  text-decoration: none;
  padding: 10px 25px !important;
}

.pasnoter {
  background-color: white;
  color: #008bd2;
  border: solid 1.5px #008bd2;
}

.cancel-btn {
  margin-top: 30%;
}