/*--------------------------------------------------------------
4.0 IMAGE
--------------------------------------------------------------*/

img, svg {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}