/*--------------------------------------------------------------
5.0 LAYOUT
--------------------------------------------------------------*/

.ui-layout-container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.ui-layout-flex, .ui-layout-grid {
  justify-content: center;
}

.ui-layout-flex { display: flex; }

.ui-layout-grid { display: grid; }