/*--------------------------------------------------------------
7.0 SECTION
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|
| 7.1 HEADER
|
--------------------------------------------------------------*/

.ui-section-header {
  padding-top: 1.25rem;
  position: sticky;
  top: 0;
  height: 47px;
}

.ui-section-header__layout { justify-content: space-between; }

.menu a {
  display: inline;
  margin-right: 60px;
  text-decoration: none;
  padding-bottom: 10px;
}

.menu a:hover {
  border-bottom: solid 2px rgb(70, 70, 70);
  color: #1a1a1a;
}

.menu .ui-component-button {
  margin-right: 0px;
}

.scrolled-navbar {
  box-shadow: 2px 2px 12px rgb(236, 236, 236);
  transition: 0.8s;
  background-color: rgba(255, 255, 255, 0.95);
}

.active {
  color: #D04FE0;
  transition: 1s;
}

/*--------------------------------------------------------------
|
| 7.2 HERO
|
--------------------------------------------------------------*/

.ui-section-hero {
  text-align: left;
}

.ui-section-hero--image { margin-top: 2rem; }

.ui-text-intro h1 {
  padding-top: 120px;
  font-size: 32px;
}

.ui-text-intro p {
  font-size: 23px;
}

.value-picture {
  padding-top: 90px;
}

.btn-proposition {
  font-size: 16px;
  padding: 18px 32px;
  color: white;
  border-radius: 30px;

  background: linear-gradient(to right, #ff9d9d 50%, #D04FE0 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.btn-proposition:hover {
  background-position: left bottom;
  color: white !important;
}

/*--------------------------------------------------------------
|
| 7.4 FEATURE
|
--------------------------------------------------------------*/

.ui-section-feature {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.ui-section-feature__layout { row-gap: 2rem; }

.ui-section-feature__layout:nth-of-type(odd) div {
  grid-row-start: 1;
}

.ui-section-feature__layout:nth-of-type(even) {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

/*--------------------------------------------------------------
|
| 7.5 TESTIMONIAL
|
--------------------------------------------------------------*/

.ui-section-testimonial {
  background-color: #fafafa;
  padding-bottom: 5rem;
  padding-top: 5rem;
  text-align: center;
}

.ui-section-testimonial__layout {
  margin-top: 2rem;
  row-gap: 2rem;
}

.ui-section-testimonial--avatar {
  border-radius: 5rem;
  height: 5rem;
  width: 5rem;
}

.ui-section-testimonial--quote {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.ui-section-testimonial--author { line-height: 1.25; }

/*--------------------------------------------------------------
|
| 7.6 CLOSE
|
--------------------------------------------------------------*/

.ui-section-close {
  text-align: center;
}